{% extends 'base.html' %}



{% block css %}
.v{
  width: 642px;
  height: 400px
}
{%endblock%}



{% block body %} 
{% load static %}
<section id="b" class="boldSection btDivider topSemiSpaced bottomSemiSpaced btDarkSkin gutter inherit wBackground cover" style="background-color:#bc2331; background-image:url('https://wallpapercave.com/wp/wp2314623.jpg'); background-size:100% 100%;padding-top: 400px !important;">
  
</section>

<br><br>

<div class=" text-center container">
  <h1 class="display-3  font-italic" style="color:#8b0002;">About Blood Donation</h1>
  <p class="lead my-3">A blood donation occurs when a person voluntarily has blood drawn and used for transfusions and/or made into biopharmaceutical medications by a process called fractionation (separation of whole blood components). Donation may be of whole blood, or of specific components directly (apheresis).Blood donations are divided into groups based on who will receive the collected blood. An 'allogeneic' (also called 'homologous') donation is when a donor gives blood for storage at a blood bank for transfusion to an unknown recipient. A 'directed' donation is when a person, often a family member, donates blood for transfusion to a specific individual. Directed donations are relatively rare when an established supply exists. A 'replacement donor' donation is a hybrid of the two.</p>
  <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
</div>

<div class=" text-center col-md-7  container">
  <img src="{% static 'photos/post/group.jpg' %}" class="d-block img-rounded">
</div>
<br><br>
<div class="jumbotron p-3 p-md-5  rounded bg-dark">
  <div class="px-0">
    <h1 class="display-4 font-italic" style="color:#fa999b;"> Why Donate Blood</h1>
    <p>
        <ul class="lead my-3" style="color:#FFFDD0;">
            <li>The most precious gift that one can give to another person is the gift of life i.e. blood. It is the essence of life.</li>
            <li>Your blood saves more than one life when it is separated into its components (red blood cells, plasma etc.).</li>
            <li>Blood is needed regularly for patients with diseases such as thalassemia and hemophilia, and also for the treatment of injuries after an accident, major surgeries, anemia, etc</li>
            <li>It improves your health.</li>
        </ul>
      </p>
    </div>
  </div>

  <div class=" text-center row col-md-12  container">
    <img src="{% static 'photos/post/donation1.jpg' %}" class="d-block v  img-thumbnail">

    <img src="{% static 'photos/post/donation2.jpg' %}" class="d-block v  img-thumbnail">
  </div>
  
<br><br>
  <div class="jumbotron p-3 p-md-5  rounded bg-dark container">
    <div class="px-0">
      <h1 class="display-4 font-italic" style="color:#fa999b;"> Benefits of Donating Blood</h1>
      <p>
          <ul class="lead my-3" style="color:#FFFDD0;">
              <li>Did you know that people who donate blood are 88% less likely to suffer a heart attack and 33% less likely to acquire any type of cardiovascular disease.</li>
              <li>When you donate blood, it removes 225 to 250 milligrams of iron from your body, hence reducing the risk of heart disease.</li>
              <li>Blood Center performs numerous tests on the donated blood. Therefore regular blood donation helps in sheilding you from serious diseases.</li>
          </ul>
        </p>
      </div>
    </div>
  
<br><br>
    <div class="bg-image container" style="background-image: url('https://wallpapercave.com/wp/wp4323661.jpg'); height: 1600px; width: 1600px;">
      <div class="px-0">
        <h1 class="display-4 font-italic" style="color:#C70039;"> <b>Before You Donate</b> </h1>
        <p>
            <ul class="lead my-3" style="color:#000000;">
                <li>Donating blood is a safe, simple, and rewarding experience that usually takes 30 minutes.</li>
                <li>To donate blood, find a blood bank near you using eRaktKosh Nearby Blood Bank Search.</li>
                <li>Requirement before Blood Donation is that your weight should be atleast 45 kgs , be at least 18 years old and be healthy in general.</li>
                <li>If you have any particular health concerns then inform the blood bank at the time of blood donation.</li>
            </ul>
          </p>
        </div>
        <br><br><br><br><br>
        <div class="px-0">
          <h1 class="display-4 font-italic" style="color:#C70039;"> <b>Pre Donation Screening</b></h1>
          <p>
              <ul class="lead my-3" style="color:#000000;">
                  <li>During pre-donation screening, a blood bank employee will ask you some questions about your health, lifestyle, and disease risk factors. All of this information is confidential.</li>
                  <li>An employee will perform a short health exam, taking your pulse, temperature and blood pressure. A drop of blood from your finger will also be tested to ensure that your blood iron level is sufficient for you to donate.</li>
                  <li>All medical equipment used for this test, as well as during the donation process, is sterile, used only once and then disposed.</li>
                </ul>
            </p>
          </div>
          <br><br><br><br><br>
          <div class="px-0">
            <h1 class="display-4 font-italic" style="color:#C70039;"> <b>Donation</b> </h1>
            <p>
                <ul class="lead my-3" style="color:#000000;">
                    <li>Once the pre-donation screening is finished, you will proceed to a donor bed where your arm will be cleaned with an antiseptic, and a professional will use a blood donation kit to draw blood from a vein in your arm.</li>
                    <li>If you are allergic to iodine, be sure to tell the phlebotomist at this point.</li>
                    <li>During the donation process, you will donate one unit of blood; this takes about six to ten minutes</li>
               </ul>
              </p>
            </div>
            <br><br><br><br><br>
            <div class="px-0">
              <h1 class="display-4 font-italic " style="color:#C70039;"><b>Post Donation</b> </h1>
              <p>
                  <ul class="lead my-3" style="color:#000000;">
                      <li>Following your donation, you will receive refreshments.</li>
                      <li>After donating, it is recommended that you increase your fluid intake for the next 24 to 48 hours; avoid strenuous physical exertion, heavy lifting or pulling with the donation arm for about five hours; and eat well balanced meals for the next 24 hours.</li>
                      <li>Smoking and alcohol consumption is not recommended after donation. Although donors seldom experience discomfort after donating, if you feel light-headed, lie down until the feeling passes.</li>
                  </ul>
                </p>
              </div>
      
    
    </div>




    {% endblock %}